<section>
    <button class="back-btn" (click)="onBack()">< back</button>
    <div class="contact-edit">
    <h1> Edit </h1>
                <form  *ngIf="contact" (ngSubmit)="onSaveContact()">
                    <label for="name"> Name: </label>
                    <input [(ngModel)]="contact.name" type="text" id="name" name="name"/>
                    
                    <label for="phone"> Phone: </label>
                    <input [(ngModel)]="contact.phone" type="tel" id="phone" name="phone" placeholder="+1 (807) 551-3258"/>
                    
                    
                    <label for="email"> Email: </label>
                    <input [(ngModel)]="contact.email" type="email" name="email" id="email" size="30" required />
                    
                    <div class="form-actions flex space-between align-center">
                        <button class="save-btn"> Save </button>
                    </div>
                </form>
    </div>
</section>