.contact-preview {
    display: flex;
    
    // flex-direction: column;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 5px 1px;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;

    img {
        border-radius: 50%;
        border: 1px solid #e4e4e4c9;
        width: 55px;
        height: 55px;
        object-fit: cover;
    }

    span {
        padding: 0 10px;
        text-align: center;
        font-size: 18px;
    }
}
