
.sign-container {
    width: 350px;
    height: 400px;
    margin: 0 auto;
    margin-top: 60px;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fafafa;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 5px 1px;
    h2 {
    }
}

.login-form {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    input[type=text] ,button{
        width: 300px;
        height: 40px;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        font-size: 14px;
    }

    input[type=text] {
        padding-left: 15px;
        color: #353535;
    }

    ::placeholder {
        color: #353535;
    }

    button {
        background-color: #579ba0;
        color: #fff;
    }
}