/* You can add global styles to this file, and also import other style files */

/*Setup*/
* {
    box-sizing: border-box;
}

html {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}

body {
    margin: 0;
    font-family: Macan;
}

.container {
    padding-inline: 8vw;
}


/*Basics*/
a {
    text-decoration: none;
    color: inherit;
    &:hover {
        // text-decoration: underline;
    }
}

a.active {
    color: #d9d9d9;
}

button {
    font-family: inherit;
    cursor: pointer;

    * {
        pointer-events: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.main-layout {
    
}

.back-btn {
    margin-bottom: 30px;
    width: 65px;
    height: 25px;
    margin-left: 20px;
    font-size: 14px;
    background-color: #2f6489;
    border-radius: 4px;
    border: none;
    color: #dfdfdf;

}

.remove-btn {
    width: 2em;
    height: 2em;
    background-color: inherit;
    border-radius: 100%;
    border: 1px solid black;
    transition: 0.15s;
    &:hover {
        background-color: rgb(80, 67, 117);
        color: white;
    }
}

//  FONTS

@font-face {
    font-family: Macan-bold;
    src: url(./assets/fonts/Macan/macan-bold.woff2);
}
@font-face {
    font-family: Macan;
    src: url(./assets/fonts/Macan/macan-regular.woff2);
}
@font-face {
    font-family: Macan-semi;
    src: url(./assets/fonts/Macan/macan-semibold.woff2);
}
@font-face {
    font-family: Macan-light;
    src: url(./assets/fonts/Macan/macan-light.woff2);
}
